# Ignorar archivos CSV
*.csv

!evaluation/sentiment/eval_prompts.csv
!evaluation/sentiment/lyrics_sample.csv
!evaluation/sentiment/eval_lyrics_labels.csv
!evaluation/songs/songs_results/lyrics_predictions.csv
!evaluation/songs/songs_results/evaluated_lyrics_predictions.csv

# Ignorar archivos NPY (NumPy)
*.npy

# Ignorar credenciales de Windows
credentials.bat

credentials.env