# Ignore .npy and .csv files
*.csv
*.npy

!evaluation/sentiment/sentiment_results/*.csv
!evaluation/sentiment/*.npy
!evaluation/sentiment/*.csv
!evaluation/songs/songs_results/*.csv
!evaluation/playlist/output_results/*.csv
!evaluation/playlist/*.csv
!data/first_1000_emotional_embeddings.npy
!data/first_1000_context_embeddings.npy
!data/first_1000_dataset.csv

# Ignore credentials file
credentials.env